*{
	padding:  0;
	margin: 0;
}

.contentty{	
	margin-top : 20px;
	padding: 20px;
	width:  100%;
	height:  200px;
	text-align: center;
}

.buttonplay{
	margin-top :20px;
	width:  100px;
	height:  40px;
	border:  2px solid black;
	background-color: white;
	border-radius: 20px;
}

.contentgamesty{
	margin-top:  200px;
	width:  100%;
	height:  560px;
}

.viewgames{
	width:  100%;
	height:  580px;
	margin-top:  -580px;
}